<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
<%= image_tag("https://www.freepnglogos.com/uploads/black-pokemon-logo-transparent-27.png", alt: 'Site Logo', class: "logo")  %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Transactions", transactions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Buy Pokémon", pokemons_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sell Pokémon", new_pokemon_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://icon-library.com/images/pikachu-png-icon/pikachu-png-icon-0.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "See personal transactions", "#", class: "dropdown-item" %>
            <%= link_to "Change user infos", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item navbar-collapse">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn-ghost" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
