<div class="container">
  <div class="row justify-content-center">
      <div class="add_pokemon">
        <h3>Add a new Pokemon</h3>
      </div>
    </div>
      <%= simple_form_for [@user, @pokemon] do |f| %>
        <%= f.input :pokemon_name, label_html: { class: "row justify-content-center"} %>
        <%= f.input :level, label_html: { class: "row justify-content-center"} %>
        <%= f.input :description, label_html: { class: "row justify-content-center"} %>
        <%= f.input :price, label_html: { class: "row justify-content-center"} %>
        <%= f.button :submit, class: 'btn-black' %>
      <% end %>
  </div>
</div>

# will need to get it from the form file as a partial