<div class="container">
  <h2>Here are all the Pokémons you can buy</h2>

  <%= form_tag pokemons_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Pokémon by name or description"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="container-cards">
    <%@pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon), class: "link_to_pkmn_show"  do %>
      <div class="card-container">
        <div class="card-pokemon">
          <img src="<%= PokeApi.get(pokemon: pokemon.pokemon_name.downcase).sprites.front_default %>" alt="">
        </div>
        <div class="card-description">
          <h4><%= pokemon.pokemon_name.upcase %></h4>
          <p class="index-cards-descriptions"><%= pokemon.description %></p>
          <p>£<%= pokemon.price %></p>
          <p> </p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
