<div id="cards">
  <figure class="card card--dark">
    <div class="card__image-container">
      <img src="<%= PokeApi.get(pokemon: @pokemon.pokemon_name.downcase).sprites.front_default %>" alt="Pokemon" class="card__image">
    </div>

    <figcaption class="card__caption">
      <h2 class="card__name"><%=@pokemon.pokemon_name%></h2>

      <table class="card__stats">
        <tbody><tr>
          <th>Level:</th>
          <td><%= @pokemon.level %></td>
        </tr>

        <tr>
          <th>Price:</th>
          <td><%= @pokemon.price %></td>
        </tr>


      </table>
      <div class="card__description">
        <p>Description: <%= @pokemon.description%></p>
      </div>
    </figcaption>
  </figure>
</div>

<%= link_to "Buy Pokemon", new_pokemon_transaction_path([@pokemon, current_user]), class: "a-link-to buy", "data-toggle" => "modal", "data-target" => "#exampleModal" %>
<p>
<%= link_to 'Back', pokemons_path %>
</p>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h2 class="text-modal" >Are you sure you want to buy this Pokémon?</h2>
       <h3 class="text-modal"><%= @pokemon.pokemon_name.capitalize %> (level: <%= @pokemon.level %>) for £<%= @pokemon.price %> </h3>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <p>
        <%= simple_form_for [@pokemon, @transaction] do |f| %>
          <%= f.submit "Buy now", class: "a-link-to buy-now" %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
