<h1>Single Pokemon</h1>

<h2><%= @pokemon.pokemon_name %></h2>

<p>Level: <%= @pokemon.level %></p>
<p><%= @pokemon.description %></p>

<p>Price: <%= @pokemon.price %></p>

<%= link_to("BUY PKMN", new_pokemon_transaction_path(@transaction))%>
