<div id="cards">
  <figure class="card card--dark">
    <div class="card__image-container">
      <img src="<%= PokeApi.get(pokemon: @pokemon.pokemon_name.downcase).sprites.front_default %>" alt="Pokemon" class="card__image">
    </div>

    <figcaption class="card__caption">
      <h2 class="card__name"><%=@pokemon.pokemon_name%></h2>

      <table class="card__stats">
        <tbody><tr>
          <th>Level:</th>
          <td><%= @pokemon.level %></td>
        </tr>

        <tr>
          <th>Price:</th>
          <td><%= @pokemon.price %></td>
        </tr>


      </table>
      <div class="card__description">
        <p>Description: <%= @pokemon.description%></p>
      </div>
    </figcaption>
  </figure>
</div>

<a class="btn-black">
<%= link_to "Buy Pokemon", new_pokemon_transaction_path([@pokemon, current_user]), class: "btn-buy-pkmn" %>
