<div class="container">
<div>
<h1 class="headers-font row justify-content-center"> <%=@pokemon.pokemon_name  %></h1>

<p class="body-font row justify-content-center">Level: <%= @pokemon.level %></p>

<p class="body-font row justify-content-center">Price: <%= @pokemon.price %></p>

<p class="body-font row justify-content-center"><%= @pokemon.description %></p>
</div>
 <%# <%= link_to "BUY NOW", %>
</div>
