<h1>Single Pokemon</h1>

<h2><%= @pokemon.pokemon_name %></h2>
<h1> <%=@pokemon.pokemon_name  %></h1>

<p>Level: <%= @pokemon.level %></p>
<p><%= @pokemon.description %></p>

<p>Price: <%= @pokemon.price %></p>

<%= link_to("BUY PKMN", new_pokemon_transaction_path([@pokemon, current_user])) %>


<%# <%= simple_form_for [@transaction, @pokemon, @user] do |f| %>
  <%# <%= f.submit %>
<%# <% end %>
