<<<<<<< HEAD
<h1>Single Pokemon</h1>


<h2><%= @pokemon.pokemon_name %></h2>
=======

<h1> <%=@pokemon.pokemon_name  %></h1>

<p>Level: <%= @pokemon.level %></p>

<p><%= @pokemon.description %></p>

<p>Price: <%= @pokemon.price %></p>

 <%= link_to "BUY NOW", %>





>>>>>>> 734f6d0c11956d475a3d519aff8c35ce5521b483
