<div class="show-page-container">
  <div class="card-container card-show">
    <div class="card-pokemon">
      <img src="<%= PokeApi.get(pokemon: @pokemon.pokemon_name.downcase).sprites.front_default %>" alt="">
    </div>

    <div class="card-description">
      <h2><%= @pokemon.pokemon_name.upcase %></h2>
      <p><%= @pokemon.price %> £</p>
      <p><%= @pokemon.description %></p>
    </div>
  </div>
<%= link_to "BUY PKMN", new_pokemon_transaction_path(@pokemon), class: "btn-buy-pkmn" %>
</div>
