<h1>Single Pokemon</h1>

<h1 class="body-font"> <%=@pokemon.pokemon_name  %></h1>

<img src="<%= PokeApi.get(pokemon: @pokemon.pokemon_name.downcase).sprites.front_default %>" alt="">
<p>Level: <%= @pokemon.level %></p>
<p><%= @pokemon.description %></p>

<p>Price: <%= @pokemon.price %></p>

<%= link_to("BUY PKMN", new_pokemon_transaction_path([@pokemon, current_user])) %>
