<div class="container">
  <h2>Here are all completed transactions</h2>

  <table>
    <tr>
      <th>Transaction ID</th>
      <th>Bougth by</th>
      <th>Sold by</th>
      <th>Pokemon</th>
      <th>Price</th>
    </tr>

    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id  %></td>
        <td><%= transaction.user.first_name %></td>
        <td><%= transaction.pokemon.user.first_name %></td>
        <td><%= PokeApi.get(pokemon: transaction.pokemon.pokemon_name.to_i).name.upcase %></td>
        <td>£ <%= transaction.pokemon.price %></td>
      </tr>
    <% end %>

  </table>
</div>
