<h2>Are you sure you want to buy this Pokémon?</h2>

<h3>
<%= @pokemon.pokemon_name.capitalize %> (level: <%= @pokemon.level %>) for £<%= @pokemon.price %>
</h3>

<p>
<%= simple_form_for [@pokemon, @transaction] do |f| %>
  <%= f.submit "Buy now", class: "a-link-to buy" %>
<% end %>
</p>
